VLM=qwen3-vl:4b
LLM=gemma3:1b
SHOW_BOXES=1

# VERBOSE=1 for detailed logs and 0 for just a progress
VERBOSE=0

# The number by which to divide the box coordinates to get relative coordinates from 0 to 1.
# For Qwen3-vl models SCALE=1000. Leave this value empty to normalize by image size for Qwen2.5vl.
SCALE=1000